<div style="height: 100vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
    
      <span> Hello {{ username }}</span>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
   
        <a href="#" mat-button *ngIf="status == 'frs'">
          <mat-icon>add_to_queue</mat-icon>
         Ajout produits
        </a>
        <a href="#" mat-button *ngIf="status == 'adm'">
          <mat-icon>supervised_user_circle</mat-icon>
         Gerer fourniseur 
        </a>
        <a href="#" mat-button *ngIf="status == 'adm'">
          <mat-icon>tab</mat-icon>
          Commande
        </a>
        <a href="#" mat-button *ngIf="status == 'adm'">
          <mat-icon>tab</mat-icon>
         Produits valable
        </a>
        <a href="#" mat-button *ngIf="status == 'frs'">
          <mat-icon>tab</mat-icon>
          Liste Commande
        </a>
       
        <a href="#" mat-button>
          <mat-icon>account_box</mat-icon>
         Mon compte
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>


</div>