<div class="container-fluid warning">
  <div class="row center-xs">
    <p>Version en cours de finalisation, ne pas partager !</p>
  </div>
</div>

<div class="wrap container-fluid">

  <div class="row center-sm">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-4 col-lg-8">
      <nav>
        <div class="icon">
          <div class="toggle"></div>
        </div>
        <ul>
          <li class="items"><a (click)="scrollToElement('video_banner')">Home</a></li>
          <li class="items"><a (click)="scrollToElement('nos_offres')">Mes offres</a></li>
          <li class="items"><a (click)="scrollToElement('info_client')">A propos</a></li>
          <li class="items"><a (click)="scrollToElement('news')">News</a></li>
          <li class="items"><a (click)="scrollToElement('temoignage')">Témoignages</a></li>
          <!-- <li><a href="#">Devenir influenceur</a></li> -->
        </ul>
      </nav>
    </div>
  </div>
</div>